@font-face {
    font-family: "socialico";
    src: url("fonts/Socialico/Socialico.eot");
    src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg");
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeue-Regular.eot');
    src: url('fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('fonts/BebasNeue-Regular.woff') format('woff'),
        url('fonts/BebasNeue-Regular.ttf') format('truetype'),
        url('fonts/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 1440px; width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: "Poppins"; background: #F7F7F7;}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1200px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }

/*button*/
.btn {font-family: "Poppins"; font-size: 16px; font-weight: 700; color: #fff; display: inline-block; padding: 14px 63px; background: #209024; border: 1px solid transparent; transition: all 0.5s ease;letter-spacing: 2px}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom{font-size: 14px; padding: 5px 10px; position: fixed; display: block!important; transform: none!important; bottom: 0!important; left: 20px!important;}

/*call to action*/
.cta {display: none;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: .42857; margin-bottom: 20px;padding: 4px;transition: border 0.5s ease-in-out 0s;}
#content .thumbnail:hover {transform: scale(1.02);}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-family: "Poppins"; font-weight: 200; font-size: 50px; color: #219024;}

/*header*/
#header {background: none;padding: 20px 0 0; position: relative; z-index: 999}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;}
#header nav ul li a {position: relative; font-family:"Poppins"; font-size: 16px; font-weight: 700; color: #333333;text-transform: uppercase;margin-left: 80px;transition: all 0.5s ease}
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#25D41D;}
#header nav ul li.active-menu a::after, #header nav ul li a:hover::after {content:""; width: 20px; height: 13px; background: #25D41D; position: absolute; top: -20px; left: 50%; transform: translateX(-50%);clip-path: polygon(50% 100%, 0 0, 100% 0);transition: all 0.5s ease}
.hdLeft.col-1{width: 25.83%;}
.hdRight.col-2{width: 74.17%;}
.hdLeft {padding: 20px 0 0;}
.hdRight {text-align: right;}
.hdRight p:first-child{font-family: "Poppins"; font-size: 30px; font-weight: bold;; color: #229024;margin: 0;}
.hdRight p:first-child img, .hdRight p:first-child span{display: inline-block; vertical-align: middle;margin: 0;}
.hdRight p:nth-of-type(2){font-family: "Poppins"; font-size: 15px;margin: 0 auto 30px;}
/*banner*/
#banner {background: url(../images/common/bannerBg.jpg)no-repeat center top; background-size: 100% 100%;position: relative; margin-top: -146px; padding: 255px 0 591px;}
#banner p:first-child{font-family: "Poppins"; font-weight: 200; font-size: 65px; color: #209024; margin: 0;line-height: 87.5px; margin-bottom: 289px;}
#banner p:first-child span{display: block;}
#banner .discount{position: relative;max-width: 235px; margin: 0 auto 0 0;border-radius: 10px; background: rgba(255,255,255,0.7);padding: 20px 0 14px;;}
#banner .discount p{font-family: "Montserrat"; font-weight: 800; font-size: 23px; color: #444444;margin: 0 auto;line-height: 40px}
#banner .discount .circle {position: relative;background: #229024;border-radius: 200%;max-width: 144px; max-height: 144px; margin: -90px auto 0 ;padding: 39px 0 0;}
#banner .discount .circle p {font-family: "Montserrat"; font-weight: 800; font-size: 52.95px; color: #fff;}
#banner .discount .circle p span{display: block;font-size: 33px}
#banner .discount .circle p:last-child{font-family: "Bebas Neue";font-weight: 400;font-size: 16px!important; margin: -15px 0 0;}

/*content*/
#content {background:none; position: relative; z-index: 9999}
#content .company{max-width: 610px; margin: -695px 0 0 auto;text-align: left;}
#content .company h1{line-height: 60px}
#content .company p {font-family: "Poppins"; font-weight: 400; font-size: 16px; color: #333333;}

#services {position: relative; z-index: 9999; padding: 90px 0 0 ;}
#services .svcLeft{text-align: left;margin-left: 120px;position: relative;z-index: 9999}
#services .svcLeft p{font-family: "Poppins"; font-weight: 500; font-size: 27px; color: #209024;margin: -20px 0 20px;}
#services .svcLeft ul {padding: 0; margin: 0;list-style:none}
#services .svcLeft ul li{height: 33px;background: url('../images/common/icons.png') -116px 0px repeat-y;padding: 0 0 0 40px;margin-bottom: 10px;font-family: "Poppins"; font-weight: 400; font-size: 22px; color: #333333;}
#services .svcLeft ul, #services .svcLeft img{display: inline-block; vertical-align: bottom;}
#services .svcLeft img{margin-left: 77px;}
#services .inb{display: inline-block; vertical-align: middle;}
#services .svcRight{margin-left: -80px;}

#quote{position: relative;background: url(../images/common/bgCut1.jpg)no-repeat center top; background-size: 100% 100%;padding: 184px 0 385px;margin-top: -130px;z-index: 999}
#quote p:first-child{font-family: "Poppins"; font-weight: 300; font-size: 45px; color: #525252;max-width: 960px; margin: 0 auto;line-height: 50px}
#quote p:last-child{font-family: "Poppins"; font-weight:700; font-size: 65px; color: #209024;margin: 15px auto 0;}

#about{position: relative;background: url(../images/common/bgCut2.jpg)no-repeat center top; background-size: 100% 100%;padding: 10px 0 165px;z-index: 999}
#about section h2{font-family: "Poppins"; font-weight: 100; font-size: 50px; color: #219024;}
#about section{max-width: 610px; margin-left: 120px;text-align: left;}
#about section p{font-family: "Poppins"; font-weight: 400; font-size: 16px; color: #333333;line-height: 28px}

#featured-services{background: #EEEEEE; margin-top: -90px;}
#featured-services h1{position: relative;z-index: 9999;margin-bottom: 25px;}
#featured-services .images{display: flex;justify-content: space-between;}
#featured-services .images dl{max-width: 280px;width: 100%;}
#featured-services .images dl dt img{max-width: 280px; width: 100%;}
#featured-services .images dl dd{padding: 30px 0 0; margin: 0; font-family:"Poppins"; font-weight: 700; font-size: 16px; color: #209024;text-transform: uppercase;}

#testimonials{background: #EEEEEE;}
#testimonials .reviews{display: flex; justify-content: space-around;margin: 0 0 0 40px; padding: 40px 0 0;}
#testimonials .reviews dl{max-width: 450px; width: 100%;}
#testimonials .reviews dl dt p{font-family: "Poppins"; font-weight: 300; font-style: italic; font-size: 15px; color: #333333;}
#testimonials .reviews dl dd p{font-family: "Poppins"; font-weight: 700; font-size: 20px; color: #209024}
#testimonials .reviews dl dd p span{color: #FFBF00; display: block;}


#contact{background: url(../images/common/bgBottom.jpg)no-repeat center top; background-size: 100% 100%;padding: 220px 0 40px;margin-top: -150px;}
#contact form{max-width: 770px; margin: 0 0 0 auto; text-align: left;}
#contact form h1{text-align: center;}
#contact form .row-1{display: flex; justify-content: space-between;}
#contact form .row-1 input[type="text"]{width: 375px; height:51px; border-radius: 0; border: 1px solid #D6D6D6;}
#contact form [type="submit"]{margin: 10px 0 0;}
#contact form .g-recaptcha {margin: 0 auto 0 0;width: 39%}
#contact form .cntLogo{max-width: 296px; width: 100%;margin-top: -55px;}
#contact .cntDetails{text-align: left;max-width: 832px; width: 100%;margin: 0 0 0 auto;}
#contact .cntDetails .inb {display: inline-block; vertical-align: top}
#contact .cntDetails .col-1{width: 335px;}
#contact .cntDetails .col-2{width: 492px;}
#contact .cntDetails dl dd{margin: 0 0 0 10px;}
#contact .cntDetails dl dd p {margin: 0;font-family: "Poppins"; font-weight: 400; font-size: 16px; color:#000000}
#contact .cntDetails dl dd p span{display: block;font-family: "Poppins"; font-weight: 700; font-size: 16px; color:#1F9024}
/*footer*/
#footer {background: #ffffff;padding: 40px 0 20px}
#footer ul {margin: 0;padding: 0}
#footer ul li {display: inline-block;vertical-align: middle;}
#footer ul li a {position: relative; font-family:"Poppins"; font-size: 16px; font-weight: 700; color: #333333;margin: 0 40px;text-transform: uppercase;transition: all 0.5s ease}
#footer ul li.active-menu a, #footer ul li a:hover {color:#25D41D;}
#footer ul li.active-menu a::after, #footer ul li a:hover::after {content:""; width: 20px; height: 13px; background: #25D41D; position: absolute; top: -20px; left: 50%; transform: translateX(-50%);clip-path: polygon(50% 100%, 0 0, 100% 0);transition: all 0.5s ease}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}
#footer .copy, #footer .silver {font-family: "Poppins"; font-size: 13px; color: #333333;}

/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}
.inner #content h2{font-size: 32px; color: #25d41d;}
.inner #content h3{font-size: 24px; color:#269428}
.inner #content .svc-section{border-top: 1px solid #555555; margin: 20px auto; padding: 20px 0;}
.inner #content .svc-section:last-child{border-bottom: 1px solid #797979;}
/*privacy policy*/
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}


.icon-check {width: 20px; height: 17px;background: url('../images/common/icons.png') -116px -10px;}
.icon-location {width: 27px; height: 33px;background: url('../images/common/icons.png') -10px -63px;}
.icon-email {width: 33px; height: 25px;background: url('../images/common/icons.png') -57px -63px;}
.icon-phone2 {width: 33px; height: 33px;background: url('../images/common/icons.png') -10px -10px;}
.icon-phone1 {width: 33px; height: 33px;background: url('../images/common/icons.png') -63px -10px;}
/** Responsive
-------------------------------------------------------*/


/* @media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}

@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
} */
